h1,h2,h3,h4,h5,h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    line-height: 1.06;
    margin-bottom: 0.4em;
}

h2 {
    font-size: 7.2rem;
}